{% extends 'layouts/base.twig' %}

{% block body %}
<main role="main" class="container">
    <div class="starter-template">
        <h1>Web Monetization Demo</h1>
        <p class="lead">Hi! This is a demoonstration of Web Monetization.</p>
        <p class="lead">It's developed by PHP, Slim Framework and Web Monetization :).</p>
    </div>
</main>
{% endblock %}

{% block home %}
    <a class="nav-link active" href="/">Home</a>
{% endblock %}

{% block introduction %}
    <a class="nav-link" href="/introduction">Introduction</a>
{% endblock %}

{% block blog %}
    <a class="nav-link" href="/blog">Blog</a>
{% endblock %}

{% block donate %}
    <a class="nav-link" href="/donate">Donate</a>
{% endblock %}

{% block history %}
  <a class="nav-link" href="/history">History</a>
{% endblock %}
